body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  border: 10px solid blue;
}

.zoomDancer{
  display: block;
}

/*this CSS is from ChaseMoskal on StackOverflow*/
.flippy>img {
  /**/-moz-transform:scale(1,1);-webkit-transform:scale(1,1);
  transform:scale(1,1);
  /**/-webkit-transition:all 600ms ease;-webkit-transition:all 600ms ease;
  transition:all 600ms ease;
}
/*this CSS from ChaseMoskal on StackOverflow*/
.flippy:hover>img {
  /**/-moz-transform:scale(-1,1);-webkit-transform:scale(-1,1);
  transform:scale(-1,1);
}


